.fruite .fruite-item .fruite-img img {
    height: 170px;
}

.title-text {
	background-color: #91caff;
	color: white;
	border-radius: 2px;
	
}

.searchBtn {
	background-color: #91caff;
	border-radius: 5px;
	padding: 15px 25px;
	margin-left: 25px;
	font-size: 20px;

}